
.body{
	background-color: black;
}
.explore_container{
	display:grid;
	gap:2rem;
	overflow: hidden;
}
.explore_image img{
	max-width: 500px;
	margin-top: 40px;
	margin-left:100px;
	filter:drop-shadow(0 0 5px rgba(252,127,9,0.4));
	border-radius: 40px 5px 40px 5px;
}
.explore_content .section_description{
	margin-bottom: 2rem;;
	font-size: 40px;
}
.explore_container{
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	margin-right: 50px;
	column-gap:5px;
	column-width: 300px;
}
.explore_content{
	max-width: 700px;
	transform: 1s;
}
.section_header{
	box-shadow: 10px 10px 5px 3px grey;
	width:530px;
	font-size: 60px;
	word-spacing: 2px;
}
.menu{
	margin-top:40px;
	font-size: 23px;
	margin-right: 70px;
}
.diva{
	margin-right:90px;
}
.explore_content .section_header{
	max-width: 500px;
}
.container{
	display:inline-block;
	justify-content: space-between;
	margin-left:60px;
	padding: 20px;
}
.vedu
{
	display:inline-block;
}

.card{
	padding:2rem;
	box-shadow: 5px 5px 2px(167, 86, 86, 0.1);
	border-radius: 4rem;
	transition: 0.3s;
	background-color:black;
}
.testimonal-box-container{
	display: inline;
	margin-left: 10%;
}
.vedant{
	display: inline-block;
}
.rajput{
	margin-left: 35%;
}




.card h3{
	margin-bottom:1rem;
	font-size: 2rem;
	font-weight: 30;
	color:var(text-dark);
}
.card p{
	margin-bottom: 1rem;
	color:var(--text-light);
	line-height:1.75rem;
	margin-top: 20px;
}
.card a{
	display:flex;
	align-items: center;
	gap: 4px;
	font-size: 20px;
	color:var(--primary-color);
}
.card a image{
	font-size:1.25rem;
	transition: 0.3s;
}
.card{
	transform: translate(10px);
	display: inline-block;
}


.card{
	border:5px;
	height:300px;
	width: 300px;
	background-color: whitesmoke;
	margin-left: 100px;
	border-radius: 60px 20px 30px 20px;
	
	
}
.image{
	height:30px;
 margin-left: 10px;
}
.card{
 
 box-shadow: 5px 5px 20px rgba(0,0,0.1);
 border-radius: 1rem;
 transition: 0.3s;
}

.card .images{
	display :inline-block;
	margin-bottom: 1rem;
	padding: 52px 11px;
	font-size: 2rem;
	color:var(--white);
	border-radius: 1rem;
}


.card:hover{
	box-shadow: 10px 10px 40px rgba(0,0,0,0.1);
}

.card:nth-child(1) .image{
	background-color: grey;
	box-shadow: 4px 4px 10px grey;
}
.card:nth-child(1) .image{
	background-color: grey;
	box-shadow: 5px 5px 10px grey;
}
.card:nth-child(1) .image{
	background-color: grey;
	box-shadow: 2px 2px 10px grey;
}
.more{
	margin-left: 20px;
	text-decoration: underline;

}
.card p{
	font-weight: bold;
}

.us{
	text-align: center;
	font-size: 70px;

}
.visit{
	font-weight: 100px;
	text-align: center;
	

}
.mobile{
	font-weight: 100px;
	font-style: italic;
	margin-inline-start: 0px;
	border-bottom: 12px;
	margin-left:50px;

}

a{
	text-decoration: none;
}
#testimonal{
	
width: 100%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
display: block;
}
.testimonal-heading{
	letter-spacing: 1px;
	margin: 30px 0px;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.testimonal-heading h1{
	font-size: 2.2.rem;
	font-weight: 500;
	background-color: #202020;
	color:#ffffff;
	padding: 10px 20px;



}
.testimonal-heading span{
	font-size: 1.3rem;
	color: #252525;
	margin-bottom:10px;
	letter-spacing: 2px;
	text-transform: uppercase;
}


.testimonal-box{
	width:500px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	padding: 20px;
	margin: 15px;
	cursor: pointer;

}
.profile-img{
			width:50px;
			height: 50px;
			border-radius: 50%;
			overflow: hidden;
			margin-left: 10px;
}
.profile-img img{
	width:100%;
	height:100%;
	object-fit: cover;
	object-position: center;
}
.profile{
	display: flex;
	align-items: center;
}
.name-user{
	display:flex;
	flex-direction: column;

}
.name-user strong{
	color:#3d3d3d;
	font-size:1.1rem;
	letter-spacing: 0.5px;
}
.name-user span{
	color:#979797;
	font-size: 0.8rem;
}
.reviews{
	color: #857207;
}
.box-top{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	align-items: center}

	.clients-comments{
		font-size: 0.9rem;
		color:#4b4b4b;
	}
	.testimonal-box:hover{
		transform:translate(-10px);
		transition: all ease 0.3s;
}
@media(max-width:1060px){
	.testimonal-box{
		width:45%;
		padding:10px;
	}
}
	
@media(max-width:790px){
	.testimonal-box{
	width: 100%;
}
.testimonal-heading h1{
	font-size: 1.4rem;
}
}

@media(max-width:340px)
{
	.box-top{
		flex-wrap:wrap;
		margin-bottom: 10px;
	}
	.reviews{
		margin-top:10px;

		}
	}
	::selection{
color:#ffffff;
background-color: #252525;;
	}

	.Pick{
		text-shadow: 1px 0px grey;
		font-size: 40px;
		color:#B86B77;
		text-overflow: ellipsis;
		
		
	}
	.order{
		font-style: italic;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 20px;
		text-overflow: ellipsis;
	}