*{
   
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}






.navbar{
  width: 100%;
  height: 120px;
  background-color:yellow;
  transition: transform 0.5s;
box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.35),
  0 5px 5px rgba(0,0,0,0.5),
  0 15px 25px rgba(0,0,0,0.35);

}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  
  width: 150px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  


  
}

.img{
  width:"100px";
  height: 100px;
  border-radius: 50px;
  
  padding: 10px;
 
}

li{
  list-style: none;
  display: inline-block;
}

li a{
  color:red;
  font-size: 20px;
  font-weight: bold;
 
  margin-right: 50px;
}




button{
  background-color: black;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
}

button a{
  color: azure;font-weight: bold;font-size: 15px;
}



.row{
  display: flex;
  height: 88%;
  align-items: center;
  flex-direction: row;
  background-color: bisque;
  }
  .col{
  flex-basis: 50%;
  }
  h1{
  color:#1a1a1a;
  font-size: 100px;
  margin-left: 40px;
  }
  .paragraph-text{
  margin-top: 8px;
  color:#1a1a1a;
  font-size: 20px;
  line-height: 15px;
  margin-left: 40px;
  }
  button{
  width: 180px;
  color: white;
  font-size: 20px;
  padding: 12px 0;
  background-color: #1a1a1a;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 40px;
  }
  
  button:hover{
  color: black;
  background:#d2a679;
  transition: 0.5s;
  width: 200px;
  }
  .sub{
  color:#000;
  }


  .card{
      width: 250px;
      height: 270px;
      display: inline-block;
      border-radius: 10px;
      padding: 15px 25px;
      box-sizing: border-box;
      cursor: pointer;
      margin: 10px 20px;
      background-position: center;
      background-size: cover;
      transition: transform 0.5s;
      box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.35),
        0 5px 5px rgba(0,0,0,0.5),
        0 15px 25px rgba(0,0,0,0.35);
      }
      .card1
      {
      background-image: url('https://media.istockphoto.com/id/1286332116/photo/refreshing-grapefruit-cocktail-with-ice-and-rosemary.jpg?s=612x612&w=0&k=20&c=xDRaecffj3_TsEATw7--YD-5NVCEkPJUAYaprBBVYLk=');
      }
      .card2
      {
      background-image: url('https://wallpapercave.com/wp/wp1842834.jpg');
      }
      .card3
      {
      background-image: url('https://static.toiimg.com/photo/53683545.cms');
      }
      .card4
      {
      background-image: url('https://c4.wallpaperflare.com/wallpaper/557/818/348/mini-cheese-tomatoes-olives-wallpaper-preview.jpg');
      }
      .card:hover{
      transform: translateY(-10px);
      }


      .container-2
      {
        height: 100vh;
        width: 100%;
        background-size: cover;
        
        background-position: center;
        padding-left: 8%;
        padding-right: 8%;
        box-sizing: border-box;
      }  
      .about-card{
      width: 950px;
      height: 580px;
      display: inline-block;
      border-radius: 10px;
      padding: 15px 25px;
      box-sizing: border-box;
      cursor: pointer;
      margin: 10px 20px;
      background-position: center;
      background-size: cover;
      transition: transform 0.5s;
      box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.35),
        0 5px 5px rgba(0,0,0,0.5),
        0 15px 25px rgba(0,0,0,0.35);
      margin-left: 160px;
      background-image: url('OIP (1).jpeg');
      margin-top: 80px;
      }
      .about-card:hover{
      transform: translateY(-10px);
      }
      .head{
        font-size: 60px;
        text-align: center;
        color:rgba(255, 255, 0, 0.908);
      }
      .des-cription
      {
        text-align: left;
        color:whitesmoke;
        font-size: 25px;
        margin-top: 60px;
        padding-left: 5px;
        text-rendering: auto;
      }
      span{
        color:rgb(236, 236, 26);
        font-size: 40px;
      }
  
  
  